USE [VLRDatabase]
GO
/****** Object:  Table [dbo].[VLR_FILE_t]    Script Date: 31.01.2016 18:58:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VLR_FILE_t](
	[ID] [bigint] NOT NULL,
	[LOAD_TIME] [datetime] NOT NULL CONSTRAINT [DF__VLR_FILE__LOAD_T__54CB950F_t]  DEFAULT (sysdatetime()),
	[FILE_PATH] [varchar](4000) NOT NULL,
	[FILE_NAME] [varchar](500) NOT NULL,
	[FILE_DATE] [date] NULL,
 CONSTRAINT [PK_VLR_FILE_t] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
