USE [VLRDatabase]
GO
/****** Object:  Table [dbo].[VLR_TEMP_t]    Script Date: 31.01.2016 18:58:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VLR_TEMP_t](
	[IMSI] [varchar](100) NULL,
	[MSISDN] [varchar](100) NULL,
	[IMEI] [varchar](100) NULL,
	[ACCESSING_TIME] [varchar](100) NULL,
	[USER_CURRENT_STATUS] [varchar](100) NULL,
	[GCISAI] [varchar](100) NULL,
	[ID_VLR_FILE] [bigint] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[VLR_TEMP_t]  WITH NOCHECK ADD  CONSTRAINT [FK_VLR_TEMP_t_F] FOREIGN KEY([ID_VLR_FILE])
REFERENCES [dbo].[VLR_FILE_t] ([ID])
GO
ALTER TABLE [dbo].[VLR_TEMP_t] CHECK CONSTRAINT [FK_VLR_TEMP_t_F]
GO
