USE [VLRDatabase]
GO
/****** Object:  UserDefinedTableType [dbo].[msisdn_table_type]    Script Date: 31.01.2016 18:58:02 ******/
CREATE TYPE [dbo].[msisdn_table_type] AS TABLE(
	[msisdn] [varchar](40) NULL
)
GO
