USE [VLRDatabase]
GO
/****** Object:  Table [dbo].[REFCTR]    Script Date: 11.02.2016 17:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REFCTR](
	[CODCTR] [dbo].[D_CHAR3] NOT NULL,
	[NAME] [varchar](60) NULL,
	[FULLNAME] [dbo].[D_CHAR120] NULL,
	[CAPITAL] [dbo].[D_CHAR30] NULL,
	[DESCR] [dbo].[D_BLOB] NULL,
 CONSTRAINT [PK_REFCTR] PRIMARY KEY CLUSTERED 
(
	[CODCTR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
