USE [VLRDatabase]
GO
/****** Object:  Table [dbo].[REFDISTRTOWN]    Script Date: 11.02.2016 17:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REFDISTRTOWN](
	[CODCTR] [dbo].[D_CHAR3] NOT NULL,
	[CODREG] [dbo].[D_CHAR5] NOT NULL,
	[CODAREA] [dbo].[D_CHAR4] NOT NULL,
	[CODDISTR] [dbo].[D_CHAR4] NOT NULL,
	[DESCR] [dbo].[D_BLOB] NULL,
 CONSTRAINT [PK_REFDISTRTOWN] PRIMARY KEY CLUSTERED 
(
	[CODCTR] ASC,
	[CODREG] ASC,
	[CODAREA] ASC,
	[CODDISTR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
